body {

}

.section-active-box {
  max-width: 100%;

  .container-active-box {
    max-width: 1510px;
    margin: 0 auto;
  }

  .wrapper-active-box {
    max-width: 1170px;
    margin: 0 auto;
  }

}

